{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "plugin:react/recommended",
    "airbnb",
    "prettier/prettier",
    "plugin:prettier/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react", "@typescript-eslint", "react-hooks", "@emotion"],
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  },
  "globals": {
    "JSX": true
  },
  "rules": {
    "import/no-unresolved": "off",
    "@emotion/jsx-import": "error",
    "@emotion/pkg-renaming": "error",
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn",
    "no-shadow": "off",
    "react/require-default-props": "off",
    "react/function-component-definition": ["off"],
    "react/prop-types": ["off"],
    "@typescript-eslint/explicit-module-boundary-types": "off",
    "no-confusing-arrow": "off",
    "default-param-last": "off",
    "react/react-in-jsx-scope": "off",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "max-lines-per-function": "off",
    "max-statements": "off",
    "react/jsx-filename-extension": "off",
    "max-len": "off",
    "import/extensions": "off",
    "react/self-closing-comp": "off",
    "import/prefer-default-export": "off",
    "camelcase": "off",
    "spaced-comment": "off",
    "no-plusplus": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": "off",
    "class-methods-use-this": "off",
    "react/jsx-props-no-spreading": "off",
    "no-param-reassign": "off",
    "no-nested-ternary": "off",
    "no-use-before-define": "off",
    "react/no-unknown-property": "off",
    "no-unused-expressions": "off",
    "react/destructuring-assignment": "off",
    "prefer-spread": "off",
    "no-unsafe-optional-chaining": "off",
    "no-underscore-dangle": "off",
    "@typescript-eslint/no-shadow": "off",
    "consistent-return": "off",
    "import/order": [
      "warn",
      {
        "groups": ["external"],
        "newlines-between": "always"
      }
    ],
    "import/no-extraneous-dependencies": "off"
  }
}
